/* estilo para o body */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  /* estilo para o cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* estilo para o título */
  h1 {
    color: orange;
    text-align: center;
    font-size: 36px;
    margin: 0;
  }
  
  /* estilo para os parágrafos */
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  pre img { 
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #config img {
    width: 20%;
  }